@use '../../styles/partials/mixins' as *;

.nav {
  list-style-type: none;
  @include tablet {
    display: flex;
    justify-content: space-evenly;
  }
  &__link {
    text-decoration: none;
    color: black;
    &:hover {
      font-weight: bold;
    }
  }
}